<!-- {{ $featured_image := partial "func/GetFeaturedImage.html" . }} -->
{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="{{ .Site.Params.background_color_class | default "bg-black" }}" style="background-image: url('{{ $featured_image }}'); background-position:top center; background-repeat: no-repeat; background-size: auto 100%;"> 
    <div class="bg-black-60">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
